<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div id="app">
        <header class="header center">
            <form action="#" class ="search-form" v-on:submit.prevent="onSubmit">
                <input type="text" class="search-fieled" v-model="userSearch">
                <button type="submit" class="btn-search"  @click="filter()">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="wrapper-basket">
                <button class="header__basket-button" @click="show = !show">Корзина</button>
                <div class="basket-box" v-show="show">              
                    <p v-if="!basketItems.length">Basket is empty</p>
                    <div class="basket-item" v-for="item of basketItems" :key="item.id_product" :id="item.id_product">
                        <div class="basket-item__left-block">
                            <image class="basket-item__image" :src="imgCatalog"></image>
                            <div class="basket-item__info-item">
                                <h3 class="basket-item__title">{{ item.product_name }}</h3>
                                <p class="basket-item__price">${{ item.price }} each</p>
                                <p class="basket-item__quantity">quantity: <span>{{ item.quantity }}</span></p>
                            </div>
                        </div>
                        <div class="basket-item__right-block">
                            <div class="total-amount">{{ item.quantity * item.price }}</div>
                            <button class="del-item" @click="remove(item)"><i class="fas fa-times"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <goods :goods="filtered" :img="imgCatalog" @add-product="getAddItemToCar"></goods>
   </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/ItemComponent.js"></script>
    <script src="js/ItemBasketComponent.js"></script>
    <script src="js/filterComponent.js"></script>
    <script src="js/script.js"></script>
</body>
</html>