<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div id="app">
        <header class="header center">
            <form action="#" class ="search-form" v-on:submit.prevent="onSubmit">
                <input type="text" class="search-fieled" v-model="userSearch">
                <button type="submit" class="btn-search"  @click="filter()">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <div class="wrapper-basket">
                <button class="header__basket-button" @click="show=!show">Корзина</button>
                <div class="basket-box" v-show="show">              

                </div>
            </div>
        </header>
        <section class="products-block center">
            <div class="product-item" v-for="product of products" :id="product.id_product" :key="product.id_product">
                <image class="product-item__image" :src="imgCatalog"></image>
                <h3 class="product-item__title">{{ product.product_name }}</h3>
                <p class="product-item__price">{{ product.price }}</p>
                <button class="product-item__book" @click="getAddItemToCart(product)">Заказать</button>
            </div>
        </section>
   </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/script.js"></script>
</body>
</html>